src/test/resources/xsd/product.xsd

<?xml version="1.0" encoding="UTF-8"?>
   <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
         <!-- XML Schema Generated from XML Document on Fri Jan 05 2018 20:57:01 GMT+0530 (India Standard Time) -->
         <!-- with XmlGrid.net Free Online Service http://xmlgrid.net -->
         <xs:element name="product">
               <xs:complexType>
                     <xs:sequence>
                           <xs:element name="productId" type="xs:int"></xs:element>
                           <xs:element name="productCategory" type="xs:string"></xs:element>
                           <xs:element name="productDescription" type="xs:string"></xs:element>
                           <xs:element name="productName" type="xs:string"></xs:element>
                     </xs:sequence>
               </xs:complexType>
         </xs:element>
</xs:schema>